
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  overflow-x: hidden;
}

.Main {
  width: 100%;
  padding: 25px;
  text-align: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.btn {
  border: 0;
  border-radius: 12px;
  height: 60px;
  width: 346px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff; /* Белый текст */
  background-color: #007bff; /* Синий фон */
  position: relative;
  overflow: hidden; /* Эффект не выходит за пределы кнопки */
  transform: translateY(-12%); /* Поднимаем кнопку чуть выше центра меню */
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 86px; /* Узкий отблеск */
  height: 100%;
  background: #94c8ffa1; /* Полупрозрачный белый */
  filter: blur(16px); /* Размытие для мягкого свечения */
  transform: skewX(-20deg);
  transition: all 0.4s ease;
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
      left: -150%;
  }
  50% {
      left: 150%;
  }
  100% {
      left: 150%;
  }
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; /* Высота увеличена */
  background-color: var(--tg-theme-bg-color); /* Фон меню совпадает с фоном сайта */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 0px 0 var(--menu-shadow-light);
  transition: transform 0.3s ease-out;
  /* transform: translateY(100%);  Скроем меню при старте */
}

.bottom-menu-outer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 0.2px solid #252525;
  align-items: center;
  transition: transform 1s ease-out;
  /* transform: translateY(100%); Скроем меню при старте */
}

/* .bottom-menu-outer.show {
  transform: translateY(0);
} */


.member-bottom-menu ul {
  background-color: var(--tg-theme-bg-color); /* Фон меню совпадает с фоном сайта */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.member-bottom-menu {
  margin-top: 4px;
}

.member-bottom-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #007bff;; */
}

.menuBtn {
  color: #252525;
}

.member-bottom-menu ul li div {
  font-size: 12px;
  padding-top: 2px;
}

.member-bottom-menu ul li span {
  font-size: 40px;
}

.active-btn {
  color: #007bff;
}

.block-btnSection {
  width: 95%;
  height: 80px;
  background-color: #252525;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-btnSection div {
  width: 100%;
  height: 100%;
  position: static;
  border-radius: inherit;
}

.block-btnSection div:hover {
  background-color: #878787;
}

.block-btnSection div button {
  width: 100%;
  height: auto;
  background-color: inherit;
  border: none;
  color: white;
  align-items: start;
}

/* .bottom-menu.show {
  transform: translateY(0); Появление меню 
} 

 Определение цветов для светлой и темной темы */
:root {
  --menu-shadow-light: #d3d3d5;
  --menu-shadow-dark: #252525;
}

/* Для темной темы */
body[data-dark-mode="true"] .bottom-menu {
  background-color: var(--tg-theme-bg-color); /* Убедимся, что цвет меню совпадает с фоном */
  box-shadow: 0 -1px 0px 0 var(--menu-shadow-light);
}

/* Для светлой темы */
body[data-dark-mode="false"] .bottom-menu {
  background-color: var(--tg-theme-bg-color); /* Убедимся, что цвет меню совпадает с фоном */
  box-shadow: 0 -1px 0px 0 var(--menu-shadow-light);
}
